* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 10px;
}

.container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-flow: column nowrap;
}

button {
    margin: 0px 0px 10px;
    padding: 10px;
}